<br/>
<div class="row row-alt">
  <div class="col-md-12">
    <h1 class="logo">BlocitOff</h1>
    <p>Blocitoff is the ultimate To Do List, it will change your life!</p>
    <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  </div>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h2 class = "logo">Simple</h2>
      <p>Blocitoff much easier and much better than Evernote.</p>
    </div>
    <div class="col-md-4">
      <h2 class = "logo">Free</h2>
      <p>Blocitoff cost nothing. How many things can you say that about?</p>
    </div>
    <div class="col-md-4">
      <h2 class = "logo">Safe</h2>
      <p>Blocitoff will make you feel better about yourself and your family.</p>
    </div>
  </div>
</div>