  <%= form_for Todo.new do |f| %>
  <div class="input-group">
    <span class="input-group-btn">
      <%= f.submit "Add Todo", class: "btn btn-primary" %>
    </span>
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>
  <% end %>